<footer class="text-center text-lg-start text-muted" style="background-color: #ffecbd ; color: #1768AC;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block" style="color: #1768AC; text-align: left; width: 70%;">
            <span>Every expert was once a beginner eager to learn. Start where you are, use what you have, and do what you can—your journey of a thousand lines of code begins with a single keystroke. </span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4" style="color: #1768AC;">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4" style="color: #1768AC;">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="" class="me-4" style="color: #1768AC;">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4" style="color: #1768AC;">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links -->
    <!-- Links and other content here -->

    <!-- Section: Copyright -->
    <div class="text-center p-4" style="background-color: #ffecbd ; color: #1768AC;">
        © 2024 Nexus Trove Tech - All rights reserved.
    </div>
</footer>
