{% extends 'base.html' %}

{% block extra_styles %}
<style>
    
    .hero {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("{{ url_for('static', filename='img/dark.jpg') }}") no-repeat center center;
        background-size: cover;
        height: 300px; /* Adjust based on your design */

    }

    .hero-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(20, 42, 54, 0.521); /* Overlay color */
        z-index: 1;
    }

    .hero-content {
        position: relative;
        z-index: 2;
        text-align: center;
        width: 70%;
    }

    .hero-title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }

     /* Media Query for medium screens (tablets) */
     @media (max-width: 768px) {
        .hero-title {
            font-size: 2rem; /* Smaller font size for medium screens */
        }

        .hero-subtitle {
            font-size: 1rem; /* Smaller font size for medium screens */
        }
    }

    /* Media Query for small screens (mobile phones) */
    @media (max-width: 576px) {
        .hero-title {
            font-size: 1.5rem; /* Even smaller font size for small screens */
        }

        .hero-subtitle {
            font-size: 0.9rem; /* Even smaller font size for small screens */
        }
    }

    /* Add any additional decorative styles as necessary */
</style>
{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-overlay"></div> <!-- Overlay to ensure text stands out -->
    <div class="hero-content">
        <h1 class="hero-title">NEXUS TROVE TECH</h1>
        <p class="hero-subtitle" style="font-size: 20px;">Dive into a world where technology education is simplified, offering a treasure trove of resources for learners of all levels.</p>
    </div>
</div>


<!-- Category Grid -->
<div class="container mt-4">
    <div class="row">
        {% for category in categories %}
        {% for post in posts %}
            <!-- Adding px-* class for horizontal padding -->
            <div class="col-lg-4 col-md-6 mb-4 px-2"> <!-- Bootstrap classes for grid columns -->
                <div class="category-card">
                    {% with category=category %}
                    {% with post=post %}
                        {% include 'category.html' %}
                    {% endwith %}
                    {% endwith %}
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

<div>{% include 'test.html' %} </div>
{% endblock %}
